<!-- Modal Alterar Usu치rio -->
<div class="modal fade" id="editUsuarioModal" tabindex="-1" aria-labelledby="editUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content border border-info border-2 shadow-sm">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title" id="editUsuarioModalLabel">
            <i class="bi bi-pencil-square me-2"></i>Editar Usu치rio
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
  
        <div class="modal-body" id="usuarioModalBody">
          <!-- O formul치rio ser치 injetado dinamicamente via fetch -->
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">
            <i class="bi bi-x-circle"></i> Fechar
          </button>
        </div>
      </div>
    </div>
  </div>