<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Opções de Calendário</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Sistema de Férias</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarContent" aria-controls="navbarContent" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto">
      
          <li class="nav-item">
            <a class="nav-link" href="/user">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/dashboard">Página do ADM</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container mt-4">
    <h2 class="text-center mb-4">Selecione a Opção do Calendário</h2> <!-- Título centralizado -->
    <div class="row justify-content-center"> <!-- Linha centralizada -->
      <!-- Cada botão em uma coluna centralizada -->
      <div class="col-12 col-md-6 col-lg-4 mb-3"> <!-- Ajuste de largura responsiva -->
        <a href="/vacations/year-calendar?year=2025&category=DPC" class="btn btn-danger d-block">DPC 2025</a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <a href="/vacations/year-calendar?year=2026&category=DPC" class="btn btn-danger d-block">DPC 2026</a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <a href="/vacations/year-calendar?year=2025&category=IPC" class="btn btn-primary d-block">IPC 2025</a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <a href="/vacations/year-calendar?year=2026&category=IPC" class="btn btn-primary d-block">IPC 2026</a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <a href="/vacations/year-calendar?year=2025&category=EPC" class="btn btn-success d-block">EPC 2025</a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <a href="/vacations/year-calendar?year=2026&category=EPC" class="btn btn-success d-block">EPC 2026</a>
      </div>
    </div>
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>