<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Opções de Calendário</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h2>Selecione a Opção do Calendário</h2>
    <div class="row">
      <div class="col-md-4 mb-2">
        <a href="/vacations/year-calendar?year=2025&category=DPC" class="btn btn-danger btn-block">DPC 2025</a>
      </div>
      <div class="col-md-4 mb-2">
        <a href="/vacations/year-calendar?year=2026&category=DPC" class="btn btn-danger btn-block">DPC 2026</a>
      </div>
      <div class="col-md-4 mb-2">
        <a href="/vacations/year-calendar?year=2025&category=IPC" class="btn btn-primary btn-block">IPC 2025</a>
      </div>
      <div class="col-md-4 mb-2">
        <a href="/vacations/year-calendar?year=2026&category=IPC" class="btn btn-primary btn-block">IPC 2026</a>
      </div>
      <div class="col-md-4 mb-2">
        <a href="/vacations/year-calendar?year=2025&category=EPC" class="btn btn-success btn-block">EPC 2025</a>
      </div>
      <div class="col-md-4 mb-2">
        <a href="/vacations/year-calendar?year=2026&category=EPC" class="btn btn-success btn-block">EPC 2026</a>
      </div>
    </div>
  </div>
</body>
</html>
